* {
  box-sizing: border-box;
  margin: 0;
}

/* VARIABLES */
:root {
  /* COLORS */
  --BG-COLOR: rgb(245, 94, 91);
  --START-PAGE-BUTTON-COLOR: rgb(209, 209, 209);
  --TITLE-COLOR: rgb(233, 233, 233);

  /* TEXT STYLES */
  --FONT-FAMILY: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --FONT-FAMILY-TR: 'Sacramento', sans-serif;
}


/* GENERAL STYLES */
body {
  height: 100vh;
  overflow-y: hidden;
  background: var(--BG-COLOR);
}

.container {
  background: var(--BG-COLOR);
}

/* LINK STYLES */
.link--create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--FONT-FAMILY);
  margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: rgb(179, 65, 57);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--create:hover {
  background-color: rgb(169, 55, 47);
}

.link--visit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--FONT-FAMILY);
  margin-top: 2rem;
  background-color: rgb(155, 68, 67);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--visit:hover {
  background-color: rgb(165, 88, 77);
}

.home-link {
  text-decoration: none;
  font-size: 2rem;
}

.home-link:hover {
  opacity: 0.9;
}

/* LAYOUT STYLES */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--FONT-FAMILY-TR);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  height: 60px;
 /*  background: radial-gradient(darkgreen, green); */
  background-color: rgb(185, 54, 52);
  color: whitesmoke;
}

/* START PAGE STYLES */
.start-page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: radial-gradient(rgb(83, 208, 83), rgb(4, 53, 4)); */
}

.start-page--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 480px;
  background-image: url('./assets/images/BG3.JPG');
  background-position: top;
  background-repeat: no-repeat;
}

.start-page--title {
  color: var(--TITLE-COLOR);
  font-family: var(--FONT-FAMILY);
  text-align: center;
  letter-spacing: 2px;
  word-wrap: break-word;
  background-color: rgba(128, 128, 128, 0.571);
  margin-bottom: 3rem;
}

/* Alert styles */
.alert {
  position: absolute;
  z-index: 100;
  height: 170px;
  width: 350px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #fff;
}

.alert-container {
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

.alert-first-line {
  margin-bottom: 1.5rem;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;
}

.hide {
  display: none;
}


/* SETTINGS PAGE STYLES */
/* .settings-page--title {
  background-color: var(--BG-COLOR);
  font-family: var(--FONT-FAMILY);
  color: var(--TITLE-COLOR);
} */

.settings-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  /* background: radial-gradient(whitesmoke, lightgreen); */
}

.settings-page--container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(3, 125, 9, 0.562);
  margin-top: 4rem;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  position: relative;
}

.settings-page--container h4 {
  margin-top: 3rem;
  font-family: var(--FONT-FAMILY);
  color: rgb(61, 60, 60);
  
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 2rem;
}

.settings-page--container .link--visit {
  position: absolute;
  bottom: 2rem;
  height: 30px;
  font-size: 0.8rem;
  background-color: green;
  color: whitesmoke;
}

/* Dropdown styles */
.dropdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-container {
  margin-top: 1rem;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  width: 70%;
  background-color: #fff;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  font-family: var(--FONT-FAMILY);
  font-size: 0.8rem;
}

.dropdown-input svg {
  margin-left: 5px;
  margin-top: 0.2rem;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 200px;
  background-color: #fff;
  z-index: 1;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: black;
  font-family: var(--FONT-FAMILY);
  font-size: 0.8rem;
}

.dropdown-item:hover {
  background-color: #94959670;
}

.dropdown-item.selected {
  background-color: #7a49effd;
  color: #fff;
}

/* CALENDAR-STYLES */
.calendar-page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem 0;
}

.calendar-page--content {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  justify-content: center;
  background-image: url('./assets/images/BG9.jpg');
  background-position: center;
  width: 100%;
  max-width: 1140px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 1rem;
  color: whitesmoke;
  background-color: inherit;
  font-family: var(--FONT-FAMILY);
  font-size: 2rem;
  cursor: pointer;
}

.calendar-box:target{
  background-color: grey;
}

.calendar-box:hover {
  backdrop-filter: blur(5px);
}

.opened-calendar-box {
  backdrop-filter: blur(5px);
}

/* POPUP STYLES */
.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-family: var(--FONT-FAMILY);
  z-index: 99;
}

.pop-up h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.pop-up h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.pop-up p {
  font-size: 1.2rem;
}

.pop-up .icon {
  /* margin-top: 1rem; */
  font-size: 5rem;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
}

input[type=checkbox] {
  accent-color: green;
  cursor: pointer;
  width: 20px;
}

.close-button {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.8;
  font-size: 40px;
  cursor: pointer;
}

.warning-pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  font-family: var(--FONT-FAMILY);
  z-index: 99;
}

.warning-pop-up h2 {
  margin-top: 6rem;
  font-size: 1.9rem;
  text-align: center;
}

.warning-pop-up p {
  font-size: 4rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 520px) {
    .top-row h2 {
      font-size: 1.2rem;
    }

    .calendar-page--container {
      margin-top: 0;
    }

    .calendar-box {
      width: 80px;
      height: 85px;
      align-self: center;
    }

    .pop-up {
      top: 35%;
      left: 0;
      right: 0;
      margin: auto;
      width: 300px;
    }

    .warning-pop-up {
      top: 20%;
      left: 0;
      right: 0;
      margin: auto;
    }
} 

@media screen and (min-width: 640px) {
  .calendar-box {
    height: 85px;
    width: 90px;
  }

  .top-row h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  .top-row h2 {
    font-size: 1.7rem;
  }

  .calendar-box {
    height: 88px;
    width: 95px;
  }
} 

@media screen and (min-width: 790px) {
  .calendar-page--content {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr /  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem
  }

  .calendar-box {
    height: 90px;
    width: 90px;
  }

  .pop-up {
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .warning-pop-up {
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
  }
} 

@media screen and (min-width: 940px) {
  .calendar-box {
    height: 100px;
    width: 100px;
  }
} 

@media screen and (min-width: 1140px) {
  .calendar-box {
    height: 100px;
    width: 130px;
  }
} 
