* {
  box-sizing: border-box;
  margin: 0;
}

/* VARIABLES */
:root {
  /* COLORS */
  --BG-COLOR: rgb(245, 94, 91);
  --START-PAGE-BUTTON-COLOR: rgb(227, 226, 226);
  --TITLE-COLOR: rgb(233, 233, 233);

  /* TEXT STYLES */
  --FONT-FAMILY: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --FONT-FAMILY-TR: 'Sacramento', sans-serif;
}

/* GENERAL STYLES */
body {
  background: var(--BG-COLOR);
  font-family: var(--FONT-FAMILY);
  /* overflow: hidden; */
}

.container {
  background: var(--BG-COLOR);
  width: 100%;
}

.italic {
  font-style: italic;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--BG-COLOR);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(185, 54, 52);
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* LINK STYLES */
/* TODO: Fix the position of the link */
#tab-icon {
  visibility: hidden;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2rem;
}

.link--create {
  background-color: rgb(179, 65, 57);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--create:hover {
  background-color: rgb(169, 55, 47);
}

.link--visit {
  background-color: rgb(155, 68, 67);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--visit:hover {
  background-color: rgb(165, 88, 77);
}

.link--share {
  background-color: rgb(87, 38, 37);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--share:hover {
  background-color: rgb(118, 51, 50);
}

.home-link {
  text-decoration: none;
  font-size: 1.4rem;
  align-self: center;
  margin: 0 0 0.3rem 0.2rem;
}

.home-link:hover {
  opacity: 0.9;
}

.settings-btn {
  background-color: darkgreen;
  margin-bottom: 0.5rem;
  color: whitesmoke;
}

/* LAYOUT STYLES */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--FONT-FAMILY-TR);
  padding-right: 0.3rem;
  font-size: 0.7rem;
  height: 4rem;
  background-color: rgb(185, 54, 52);
  color: whitesmoke;
}

/* START PAGE STYLES */
.start-page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-page--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 480px;
  background-image: url('./assets/images/BG1.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.start-page--title {
  color: var(--TITLE-COLOR);
  text-align: center;
  letter-spacing: 2px;
  word-wrap: break-word;
  background-color: rgba(128, 128, 128, 0.571);
  margin-bottom: 3rem;
}

/* Alert styles */
.alert {
  position: absolute;
  z-index: 100;
  height: 50%;
  width: 55%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #fff;
}

.alert-container {
  text-align: center;
  color: black;
}

.alert-first-line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.alert-container > p {
  font-size: 1.5rem;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;
}

.hide {
  display: none;
}

/* SETTINGS PAGE STYLES */
.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.info-div {
  padding: 1rem 2rem;
  text-align: center;
}

.info-div > h3 {
  margin: 0.5rem;
}

.info-div > p {
  font-size: 0.9rem;
}

.options-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.options-div h4 {
  margin-top: 1rem;
  color: rgb(30, 30, 30);
}

.settings-page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 125, 9, 0.562);
  border-radius: 5px;
  width: 250px;
  height: 200px;
  position: relative;
}

.settings-page--container:hover {
  width: 350px;
  height: 250px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 2rem;
}

.options-div .link--visit {
  /* position: absolute; */
  bottom: 1.5rem;
  height: 30px;
  font-size: 0.8rem;
  background-color: green;
  color: whitesmoke;
}

.options-div .link--visit:hover {
  background-color: rgb(1, 137, 1);
}

/* Dropdown styles */
.dropdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-container {
  margin-top: 1rem;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  width: 70%;
  background-color: #fff;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.dropdown-input svg {
  margin-left: 5px;
  margin-top: 0.2rem;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 200px;
  background-color: #fff;
  z-index: 1;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: black;
  font-size: 0.8rem;
}

.dropdown-item:hover {
  background-color: #94959670;
}

.dropdown-item.selected {
  background-color: #7a49effd;
  color: #fff;
}

/* Styling the "make-own-container" */
.make-own-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 125, 9, 0.562);
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  position: relative;
}

.make-own-container > .link--visit {
  position: relative;
  bottom: 0.5rem;
}

.make-own-container .not-clickable {
  pointer-events: none;
  background-color: rgba(3, 125, 9, 0.201);
  opacity: 0.8;
}

.make-own-container:focus, 
.make-own-container:hover, 
.make-own-container:active {
  width: 400px;
  height: 350px;
}

.mini-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  height: 60%;
  margin-top: 1rem;
}

.mini-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
  color: black;
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 1px solid black;
  cursor: pointer;
}

.mini-date:hover {
  background-color: #ccc;
}

.date-completed {
  background-color: rgb(68, 151, 68);
  color: white;
}

.date-in-progress {
  background-color: goldenrod;
}

.settings-popup {
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 350px;
  height: 400px;
  margin-right: 10rem;
  border-radius: 10px;
  border: 2px solid darkgreen;
}

.settings-popup > h4 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#activity {
  width: 250px;
  margin-bottom: 4rem;
}

#activity:focus {
  outline: none;
}

.settings-popup label {
  font-size: 0.9rem;
}

.popup-btn-div {
  position: absolute;
  bottom: 2rem;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.popup-btn {
  padding: 0.5rem;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-pair {
  display: flex;
  justify-content: center;
  width: 200px;
}

.input-pair > .info-btn {
  margin-left: 1rem;
  position: relative;
}

.input-pair > .info-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.input-trio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.tooltip-text {
  position: absolute;
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0.943);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: -2px 2px rgb(193, 193, 193);
  padding: 1rem;
}

.activity > .tooltip-text {
  display: none;
  right: -25px;
  top: 10px;
  width: 120px;
}

.datalist > .tooltip-text {
  display: none;
  right: -10px;
  bottom: 115px;
}

.tooltip-text p {
  margin-bottom: 1rem;
}

.info-btn:hover ~ .tooltip-text {
  display: block;
}

.examples-link {
  color: black;
  background-color: transparent;
  font-size: 0.8rem;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.examples-link:hover{
  opacity: 0.8;
}

.absolute {
  width: 400px;
  height: 350px;
}

.back-btn {
  display: none;
  border: none;
  background-color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

/* Styling the datalist */
.react-datalist-input__textbox {
  width: 40px;
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: center;
}

.react-datalist-input__textbox:focus {
  outline: none;
  caret-color: transparent;
}

.react-datalist-input__listbox {
  position: absolute;
  top: -120px;
  right: -75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: -3px 3px gray;
  z-index: 99;
}

.react-datalist-input__listbox-option {
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.react-datalist-input__listbox-option:hover {
  background-color: lightgrey;
}

.react-datalist-input__listbox-option:active {
  color: grey;
}

.date-popup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date-popup h4 {
  font-size: 2rem;
}

.date-popup > .date-activity {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.5rem;
}

.date-icon {
  margin-top: 0;
}

.date-popup .date-icon {
  font-size: 3rem;
}

.warning {
  display: block;
  position: relative;
  top: -8rem;
  text-align: center;
  font-size: 0.8rem;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  padding: 0.5rem;
  box-shadow: -4px 0 3px rgb(202, 1, 1);
}

.warning > button {
  border: none;
  background-color: darkred;
  color: white;
  border-radius: 5px;
  padding: 0.3rem;
  margin: 1.5rem 1rem 0 1rem;
  cursor: pointer;
}

/* ACTIVITY DATABASE STYLES */
.examples-popup {
  background-color: rgb(185, 54, 52);
  width: 400px;
  height: 480px;
  border-radius: 5px;
  position: absolute;
  right: 10rem;
  top: 8rem;
}

.activity-database-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

/* .activity-database-container h1 {
  color: #202020;
} */

.activity-database {
  background-color: rgb(232, 83, 81);
  height: 370px;
  overflow: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.activity-name {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  /* color: rgb(224, 222, 222); */
}

.activity-database::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(218, 79, 76);
}

.activity-database::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(185, 54, 52);
}

.activity-database-container > .dropdown-container {
  max-width: 500px;
}

/* CALENDAR-STYLES */
.calendar-page--container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

.calendar-page--container::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--BG-COLOR);
}

.calendar-page--container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(185, 54, 52);
  visibility: hidden;
}

.calendar-page--container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.calendar-page--content {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  background-image: url('./assets/images/BG9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* min-width: 1400px; */
  /* min-height: 85vh; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5rem;
  /* margin-left: 1rem; */
  color: whitesmoke;
  background-color: inherit;
  font-family: var(--FONT-FAMILY);
  font-size: 2rem;
  cursor: pointer;
}

.calendar-box:target{
  background-color: grey;
}

.calendar-box:hover {
  backdrop-filter: blur(5px);
}

.opened-calendar-box {
  backdrop-filter: blur(5px);
}

/* POPUP STYLES */
.pop-up-container {
  position: fixed; 
  display: block; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 99; 
  cursor: pointer;
}

.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 300px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.961);
  border-radius: 10px;
  z-index: 99;
}

.pop-up h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.pop-up h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.pop-up--activity {
  text-align: center;
  padding: 0.5rem;
}

.pop-up .icon {
  font-size: 3rem;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 70%;
}

input[type=checkbox] {
  accent-color: green;
  cursor: pointer;
  width: 10%;
}

.close-button {
  position: absolute;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  opacity: 0.8;
  font-size: 2.5rem;
  cursor: pointer;
}

.warning-pop-up h2 {
  margin-top: 3rem;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.warning-icon {
  font-size: 4rem;
}

.share-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(30, 129, 30);
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
}

.share-btn:hover {
  background-color: rgb(59, 139, 59);
}

.share-popup {
  position: absolute;
  top: 15rem;
  background-color: white;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.share-popup > h3 {
  margin-bottom: 1rem;
}

.share-popup > p {
  margin-bottom: 0.5rem;
}

/* CREATE SHARED STYLES */
.create-shared-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0;
  height: 85vh;
  background-image: url('./assets/images/BG9.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.show-link {
  background-color: darkgreen;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
}

.show-link:hover {
  background-color: rgb(1, 117, 1);
}

.blocked {
  pointer-events: none;
}

/* SHARED CALENDAR STYLES */
.file-selector-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  justify-self: center;
  margin-top: 10rem;
  padding: 1rem;
}

.file-selector-popup > input[type="file"] {
  text-align: center;
  margin-left: 7rem;
  
}

/* TODO: Style input file button */
/* input[type="button"] {
  background-color: darkgreen;
  color: whitesmoke;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
} */

.add-btn {
  background-color: darkgreen;
  color: whitesmoke;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.show-btn {
  position: absolute;
  background-color: darkgreen;
  color: whitesmoke;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  z-index: 99;
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .top-row {
    font-size: 0.8rem;
    padding-right: 0.4rem;
  }

  .calendar-box {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}

@media screen and (min-width: 410px) {
  .top-row {
    height: 3rem;
    padding-right: 0.5rem;
  }

  .top-row h2 {
    font-size: 1.2rem;
  }

  .calendar-page--content {
    grid-gap: 1rem;
  }

  .calendar-box {
    width: 70px;
    height: 70px;
    margin: 0;
    justify-self: center;
  }
}

@media screen and (min-width: 520px) {
  .calendar-page--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    height: 90vh;
  }

    .top-row {
      height: 4rem;
      padding-right: 0.7rem;
    }

    .top-row h2 {
      font-size: 1.4rem;
    }

    .home-link {
      font-size: 1.8rem;
      margin: 0 1rem 0.3rem 0.5rem;
    }

    .calendar-page--content {
      grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      height: 100%;
    }

    .calendar-box {
      width: 75px;
      height: 75px;
      justify-self: center;
      align-self: center;
    }

    .pop-up {
      top: 60%;
      left: 0;
      right: 0;
      margin: auto;
      width: 350px;
      height: 350px;
    }

    .pop-up h2 {
      font-size: 2rem;
    }

    .pop-up h4 {
      font-size: 1.5rem;
    }

    .pop-up--activity {
      font-size: 1.1rem;
    }

    .pop-up .icon {
      font-size: 3rem;
    }

    .warning-pop-up {
      top: 60%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .warning-pop-up h2 {
      font-size: 1.7rem;
    }
} 

@media screen and (min-width: 640px) {
  .calendar-box {
    height: 75px;
    width: 75px;
  }

  .top-row {
    height: 5rem;
  }

  .top-row h2 {
    font-size: 1.6rem;
  }

  .pop-up {
    width: 400px;
    height: 400px;
  }

  .pop-up--activity {
    font-size: 1.2rem;
  }

  .pop-up .icon {
    font-size: 4rem;
  }

  .checkbox-container p {
    font-size: 1.2rem;
  }

  .warning-pop-up h2 {
    margin-top: 4rem;
  }

  .warning-icon {
    font-size: 5rem;
  }

  .checkbox-container {
    margin-top: 0.2rem;
  }
}

@media screen and (min-width: 700px) {
  .top-row h2 {
    font-size: 1.8rem;
  }

  .home-link {
    font-size: 1.8rem;
    margin: 0 1rem 0.2rem 0.5rem;;
  }

  .calendar-box {
    height: 85px;
    width: 85px;
  }
} 

@media screen and (min-width: 790px) {
  .home-link {
    font-size: 2rem;
  }

  .calendar-page--content {
    grid-gap: 1.2rem
  }
} 

@media screen and (min-width: 940px) {
  .top-row {
    height: 5rem;
  }

  .top-row h2 {
    font-size: 2.1rem;
  }

  .top-row h2:last-child {
    padding-right: 10rem;
  }

  .home-link {
    font-size: 2.3rem;
  }

  .calendar-page--content {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .calendar-box {
    height: 100px;
    width: 100px;
    font-size: 2.5rem;
  }
} 

@media screen and (min-width: 1140px) {
  .calendar-page--container {
    height: 90vh;
  }

  .calendar-page--content {
    background-position: top;
    height: 730px;
    /* width: 80%; */
    max-width: 1140px;
  }

  .top-row h2 {
    font-size: 2.5rem;
  }

  .calendar-box {
    height: 130px;
    width: 120px;
  }

  .alert {
    width: 400px;
    height: 300px;
  }

  .alert-container {
    margin-top: 4rem;
    font-size: 2.5rem;
  }

  .closebtn {
    font-size: 40px;
  }
} 

@media screen and (min-width: 1270px) {
  .calendar-box {
    height: 150px;
    width: 140px;
  }
}
