* {
  box-sizing: border-box;
  margin: 0;
}

/* VARIABLES */
:root {
  /* COLORS */
  --BG-COLOR: rgb(76, 11, 172);
  --START-PAGE-BUTTON-COLOR: rgb(209, 209, 209);
  --TITLE-COLOR: rgb(233, 233, 233);

  /* TEXT STYLES */
  --FONT-FAMILY: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --FONT-FAMILY-TR: 'Sacramento', sans-serif;
}


/* GENERAL STYLES */
body {
  height: 100vh;
  overflow-y: hidden;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: darkgreen;
} */


/* LINK STYLES */
.link--create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--FONT-FAMILY);
  margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: rgb(179, 65, 57);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--visit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--FONT-FAMILY);
  margin-top: 2rem;
  background-color: rgb(155, 68, 67);
  color: var(--START-PAGE-BUTTON-COLOR);
}

.link--visit:hover {
  opacity: 0.9;
}

/* LAYOUT STYLES */
.top-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--FONT-FAMILY-TR);
  font-size: 1.5rem;
  height: 60px;
  background: radial-gradient(darkgreen, green);
  color: whitesmoke;
}

/* START PAGE STYLES */
.start-page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(rgb(83, 208, 83), rgb(4, 53, 4));
}

.start-page--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 480px;
  background-image: url('./assets/images/BG3.JPG');
  background-position: top;
  background-repeat: no-repeat;
}

.start-page--title {
  color: var(--TITLE-COLOR);
  font-family: var(--FONT-FAMILY);
  text-align: center;
  letter-spacing: 2px;
  word-wrap: break-word;
  background-color: rgba(128, 128, 128, 0.571);
  margin-bottom: 3rem;
}

/* SETTINGS PAGE STYLES */
.settings-page--title {
  background-color: var(--BG-COLOR);
  font-family: var(--FONT-FAMILY);
  color: var(--TITLE-COLOR);
}

.calender-page h4 {
  margin-top: 3rem;
  font-family: var(--FONT-FAMILY);
  color: var(--TITLE-COLOR);
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

/* Dropdown styles */
.dropdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-container {
  margin-top: 1rem;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  width: 70%;
  background-color: #fff;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  font-family: var(--FONT-FAMILY);
  font-size: 0.8rem;
}

.dropdown-input svg {
  margin-left: 5px;
  margin-top: 0.2rem;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 200px;
  background-color: #fff;
  z-index: 1;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: black;
  font-family: var(--FONT-FAMILY);
  font-size: 0.8rem;
}

.dropdown-item:hover {
  background-color: #94959670;
}

.dropdown-item.selected {
  background-color: #7a49effd;
  color: #fff;
}

/* CALENDAR-STYLES */
.calendar-page--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(83, 208, 83), rgb(4, 53, 4));
}

.calendar-page--content {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr /  1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/BG9.jpg');
  background-position: center;
  height: 480px;
  width: 950px;
  padding-top: 1rem;
  margin: 1rem 0;
}

.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 1rem;
  color: whitesmoke;
  background-color: inherit;
  font-family: var(--FONT-FAMILY);
  font-size: 2rem;
  cursor: pointer;
}

.calendar-box:target{
  background-color: grey;
}

.calendar-box:hover {
  backdrop-filter: blur(5px);
}

/* POPUP STYLES */
.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  font-family: var(--FONT-FAMILY);
  z-index: 99;
}

.pop-up h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.pop-up h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.pop-up p {
  font-size: 1.2rem;
}

.pop-up .icon {
  margin-top: 1rem;
  font-size: 5rem;
}

.close-button {
  position: absolute;
  right: 20px;
  border: none;
  background-color: inherit;
  font-size: 40px;
  cursor: pointer;
}

.warning-pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  font-family: var(--FONT-FAMILY);
  z-index: 99;
}

.warning-pop-up h2 {
  margin-top: 6rem;
  font-size: 2rem;
  text-align: center;
}

.warning-pop-up p {
  font-size: 6rem;
}

